.team-div {
    display: flex;
    flex-direction: row;
    /* animation: fadeIn 2s ease-in;
    animation-timeline: view(); */
    /* transform: scale(0.8);
    opacity: 10%; */
}

.team-div-wrapper {
    margin-top: 8%;
}

.team-div-animation {

    /* transform: translate(0px, 20px) scale(1); */
    transition: 2s;
    animation: fadeIn 2s ease-in-out;
    animation-timeline: view();

    .card1-container {
        transform: translate(15%);
        /* transition: 2s;  */
    }
}

@supports (animation-timeline: view()) {
    @keyframes fadeIn {
        0% {
            opacity: 10%;
            scale: 0.8;
        }

        50% {
            opacity: 100%;
            scale: 1
        }

        100% {
            opacity: 10%;
            scale: 0.8
        }
    }
}


/* @media (prefers-reduced-motion: no-preference) {
      .team-div-animation {
        animation: fadeIn 2s ease-in;
        animation-timeline: scroll();
        animation-range: contain;
      }

  } */

.team-members {
    display: flex;
    justify-content: space-evenly;
}

.team-decription {
    width: 40%;

    h1 {

        margin-top: 15%;
        margin-bottom: 10%;
    }
}